{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}

{% elsif page.sidebar == "TAPv080_sidebar" %}
{% assign sidebar = site.data.sidebars.TAPv080_sidebar.entries %}

{% elsif page.sidebar == "TAPv090_sidebar" %}
{% assign sidebar = site.data.sidebars.TAPv090_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "TAPv080" %}
{% assign sidebar_pdf = site.data.sidebars.TAPv080_sidebar.entries %}
{% endif %}

{% if site.product == "TAPv090" %}
{% assign sidebar_pdf = site.data.sidebars.TAPv090_sidebar.entries %}
{% endif %}
